ul{
    list-style: none;
    text-align: center;
}
.mynavbar{
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      #f5f5f5 100%
    );
    width: 15000px;
    height: 100px;
    position: relative;
    top: 0%;
    left: 0%;
}
